/* line 2, ../sass/bajjutsu.scss */
div, p {
  color: #black;
  font-family: BadaBoom BB, verdana, helvetica, arial, sans-serif;
}

/* line 7, ../sass/bajjutsu.scss */
.logo {
  background: url(../images/logo.png) no-repeat center;
}

/* line 12, ../sass/bajjutsu.scss */
.technique .x-carousel-item {
  text-align: center;
}
/* line 14, ../sass/bajjutsu.scss */
.technique .x-carousel-item h1 {
  font-size: 2em;
  line-height: 2em;
}
/* line 18, ../sass/bajjutsu.scss */
.technique .x-carousel-item p {
  font-size: 1.4em;
}
/* line 20, ../sass/bajjutsu.scss */
.technique .x-carousel-item p img {
  margin: 0 1em 0 0;
  vertical-align: middle;
}

/* line 28, ../sass/bajjutsu.scss */
.health-panel .health {
  background-size: 35%;
}
/* line 31, ../sass/bajjutsu.scss */
.health-panel .health_6 {
  background: url(../images/health_6.png) center no-repeat;
}
/* line 34, ../sass/bajjutsu.scss */
.health-panel .health_5 {
  background: url(../images/health_5.png) center no-repeat;
}
/* line 37, ../sass/bajjutsu.scss */
.health-panel .health_4 {
  background: url(../images/health_4.png) center no-repeat;
}
/* line 40, ../sass/bajjutsu.scss */
.health-panel .health_3 {
  background: url(../images/health_3.png) center no-repeat;
}
/* line 43, ../sass/bajjutsu.scss */
.health-panel .health_2 {
  background: url(../images/health_2.png) center no-repeat;
}
/* line 46, ../sass/bajjutsu.scss */
.health-panel .health_1 {
  background: url(../images/health_1.png) center no-repeat;
}
/* line 49, ../sass/bajjutsu.scss */
.health-panel .health_0 {
  background: url(../images/health_0.png) center no-repeat;
}

/* line 54, ../sass/bajjutsu.scss */
.charge-panel .charge {
  background-size: 35%;
}
/* line 58, ../sass/bajjutsu.scss */
.charge-panel .charge_3 {
  background: url(../images/charge_3.png) center no-repeat;
}
/* line 61, ../sass/bajjutsu.scss */
.charge-panel .charge_2 {
  background: url(../images/charge_2.png) center no-repeat;
}
/* line 64, ../sass/bajjutsu.scss */
.charge-panel .charge_1 {
  background: url(../images/charge_1.png) center no-repeat;
}
/* line 67, ../sass/bajjutsu.scss */
.charge-panel .charge_0 {
  background: url(../images/charge_0.png) center no-repeat;
}

/* line 72, ../sass/bajjutsu.scss */
.x-fullscreen {
  background: url(../images/background.png) center no-repeat;
  background-size: 100%;
}
